CLAW_APP_NAME=Clawgotchi
CLAW_HOST=0.0.0.0
CLAW_PORT=8000
CLAW_LOG_LEVEL=INFO
CLAW_TICK_INTERVAL_SECONDS=5
CLAW_DATABASE_URL=sqlite:///./clawgotchi.db
CLAW_PLUGIN_DIRECTORY=./plugins
CLAW_THEME_DIRECTORY=./themes
CLAW_CONFIG_FILE=./config/defaults.toml
CLAW_API_KEY=
